@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, rgb(181, 198, 247), rgb(211, 197, 201));
    font-family: open, sans-serif;
    margin: 0;
}

.botonera {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

a{
    text-decoration: none;
    color: rgb(247, 247, 247);
}

header{
    display: flex;
    min-height: 42px;
    background: linear-gradient(90deg, rgb(11, 61, 95), rgb(181, 198, 247));
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 40px;
    margin-right: 10px;
    margin-left:10px;
}

@media (max-width:700px){
    header{
       flex-direction: column;
    }
}

section#hero{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Roboto";
    text-align: center;
    margin: auto;
}

section#hero h1{
    font-weight: 450;
    font-size: 100px;
}

section#hero h2{
    font-weight: 420;
    font-size: 75px;
}

.container {
    width: 8vw;
    max-width: 1000px;
    min-width: 280px;
    margin: auto;
}

#foto{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5)
}

h3{
    font-family: "Roboto";
    font-weight: 600;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 280px;
    margin-bottom: 50px;
}


section#datos h3{
    color: #99729b;
    border: 2px solid rgb(139, 113, 146);
}


section#formación h3{
    color: rgb(100, 107, 168);
    border: 2px solid rgb(125, 120, 201);
}

section#perfil h3{
    color: rgb(100, 179, 175);
    border: 2px solid rgb(107, 160, 160);
}

section#experiencia h3{
    color: rgb(62, 122, 80);
    border: 2px solid rgb(68, 134, 68);
}

h4{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}

section#experiencia h4{
    color: rgb(5, 80, 30);
    margin-top: 70px;
    margin-bottom: 50px;
}

.projects-1{
    color: rgb(47, 47, 48);
    font-family: "Lato";
    font-weight: 400;
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 100px;
}
 
footer{ 
    background-color: rgb(147, 183, 184);
    background-size: cover;
    background-attachment: fixed;
}

.foot .form .formulario .f-titulo{
    font-weight: normal;
    font-family: sans-serif;
    color: rgb(65, 64, 85);
    text-align: center;
    padding: 14px 0;
}

.foot .form{
    background: rgba(112, 139, 139,.6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.foot .form .f-etiqueta{
    display: block;
    color: rgb(247, 246, 253);
    font-size: 16px;
    font-family: "Roboto";
    position: relative;
}

.foor .form .f-input, .f-input{
    background: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(65, 64, 85);
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14x;
    color: rgb(247, 229, 255);
    font-family: "Roboto";
}

.foor .form .f-input{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.foot .form .boton-enviar{
    width: 100%;
    font-family: "Roboto";
    outline: none;
    background-color: rgb(231, 218, 202);
    font-size: 16px;
    border: none;
    color: rgb(65, 64, 85);
    padding: 15px 0px;
    cursor: pointer;
    transition: all 5s ease;
}

.foot .form .boton-enviar:hover {
    background-color: rgb(245, 189, 126);
}
